@{
    ViewData["Title"] = "Helpdesk";
}
<div>
    <div id="sobre" class="container mt-4 sobre-nos content helpdesk" style="display: block;">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Imagens/Team-HelpDesk.png" alt="Image" class="img-sobreNos">
            </div>
            <div class="col-md-6">
                <ul>
                    <ul>
                        <li><a href="#">Como criar uma tarefa?</a></li>
                        <ul>
                            <li><a href="#">Como adicionar subtarefas em tarefas?</a></li>
                            <li><a href="#">Como atribuir tarefas a outros usuários?</a></li> <!-- Novo tópico -->
                            <li><a href="#">Como definir prioridades para tarefas?</a></li> <!-- Novo tópico -->
                        </ul>
                        <li><a href="#">Posso editar o prazo das tarefas?</a></li>
                        <ul>
                            <li><a href="#">Como alterar o prazo de uma tarefa existente?</a></li> <!-- Novo tópico -->
                        </ul>
                        <li><a href="#">Posso anexar arquivos em tarefas?</a></li>
                        <ul>
                            <li><a href="#">Quais tipos de arquivos posso anexar a uma tarefa?</a></li> <!-- Novo tópico -->
                            <li><a href="#">Há um limite de tamanho para os arquivos que posso anexar?</a></li> <!-- Novo tópico -->
                        </ul>
                        <li><a href="#">Posso conectar uma nuvem pessoal à plataforma?</a></li>
                        <ul>
                            <li><a href="#">Quais serviços de nuvem são compatíveis com a plataforma?</a></li> <!-- Novo tópico -->
                            <li><a href="#">Como posso desconectar minha nuvem pessoal?</a></li> <!-- Novo tópico -->
                        </ul>
                        <li><a href="#">Como o chat bot pode me ajudar?</a></li>
                        <ul>
                            <li><a href="#">Comandos que ajudam a direcionar melhor o uso do chat bot</a></li>
                            <li><a href="#">Por que usar o chat bot</a></li>
                            <li><a href="#">Como posso personalizar as configurações do chat bot?</a></li> <!-- Novo tópico -->
                            <li><a href="#">O chat bot pode entender comandos em diferentes idiomas?</a></li> <!-- Novo tópico -->
                        </ul>
                    </ul>

                </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
